{{range message := .MessagesToDisplay}}
{{profile := message.GetProfileByProfileID(message.ProfileID)}}

{{otherUserProfileID := message.GetRoom().GetOtherProfilesByCurrentUserID(.UserID)[0]}}
{{otherUserProfile := message.GetProfileByProfileID(otherUserProfileID)}}
{{otheruser := message.GetUser(otherUserProfileID)}}
<div class="offset-top-41">
    <div class="box-comment text-left box-comment-boxed">
    <div class="media">
        <div class="media-left"><a href="/rooms/{{message.RoomUUID}}?f=r"><img class="img-circle box-comment-img" src="{{otherUserProfile.DisplayPhoto()}}" alt="" width="60" height="60"></a></div>
            <div class="media-body">
            <header class="box-comment-header unit unit-vertical unit-spacing-xxs unit-md unit-md-horizontal unit-md-inverse unit-md-middle unit-md-align-right">
                <div class="unit-left">
                    <ul class="box-comment-meta list-inline list-inline-sm text-dark">
                        <li>{{otherUserProfile.Title}}</li>
                        <li><span class="box-comment-icon mdi mdi-clock"></span>
                            <time datetime="2016-01-01">{{message.Created.Format("2006-01-02 15:04:05")}}</time>
                        </li>
                        <li><a href="/rooms/{{message.RoomUUID}}?f=r"><span class="box-comment-icon mdi mdi-message-outline"></span> Reply</a></li>
                    </ul>
                </div>
                <div class="unit-body">
                    <h6 class="box-comment-title">{{otheruser.FullName()}}</h6>
                </div>
            </header>
            <section class="box-comment-body">
                <span class="col-md-3"><strong>{{profile.User.FullName()}}:</strong></span>
                <p class="col-md-9 inline-block" style="margin-top:0;padding-left: 0;"><i>{{message.MessageText}}</i></p>
            </section>
        </div>
    </div>
    </div>
</div>
{{end}}