<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#cacaca;min-height:100%">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/css/star-rating.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/js/star-rating.js" type="text/javascript"> </script>
</head>
<body class="container">
    <h2>You have New Feedback</h2>
    <hr>
    <p>Hi {{ReceiveUser.FirstName}},</p><br/>
    <p>{{SendUser.FirstName}} wrote you a review. Here are the details: <br/><br/>    
    <strong>Service Provider:</strong> <a href="{{FindPersonURL}}">{{ServiceProviderName}}</a><br/> 
    <strong>Profile:</strong>{{ProfileServiceName}}<br/> 
    <strong>Booking ID:</strong>{{BookingID}}<br/> 
    <strong>Date:</strong> {{Date}}<br/> 
    <strong>Start Time:</strong>{{StartTime}}<br/> 
    <strong>Duration:</strong> {{Duration}} hours<br/> 
    <br/><b/>
    <strong>Rating:</strong> <input class="starscore" name="starscore-1" value="{{Rating}}" class="rating-loading" data-size="xs">  {{CommentTitle}}<br>
    <input id="starscore" name="starscore-1" value="{{Rating}}" class="rating-loading" data-size="xs">
    <strong>Special Degrees of Awesomesness:</strong> {{SDA}}<br/>
    <strong>Comments:</strong> {{Comments}}<br/>

    <p>Now that you have both written reviews, we have posted them to your reputation profiles.</p><br/>

   <div style="margin-top: 30px">
        <strong>Regards,</strong><br/>
        <strong>UR Local</strong>
    </div>

    <hr>
    <p><img src="{{ImageURL}}"></p>
    
</body>
</html>

<script type="text/javascript">
  
    $(document).ready(function(){
        $('.starscore').rating({
            displayOnly: true, 
            showCaption: true,
        });
        $('#starscore').rating({
            displayOnly: true, 
            showCaption: true,
        });
    });

</script>