<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#cacaca;min-height:100%">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="container">
    <h2>Booking Request Message</h2>
    <hr>
    <p>Hi {{ReceiveUser.FirstName}},</p><br/>
    <p>{{SendUser.FirstName}} sent you a message about your booking request. Here are the details:<br/><br/>    
    <strong>Service Provider:</strong> <a href="{{FindPersonURL}}">{{SendUser.FullName()}}</a><br/> 
    <strong>Profile:</strong>{{ProfileServiceName}}<br/> 
    <strong>Booking ID:</strong>{{BookingID}}<br/> 
    <strong>Date:</strong> {{Date}} {{if IsDateChanged}}<span style="color: red"><i> changed</i></span>{{end}}<br/>
    <strong>Start Time:</strong>{{StartTime}} {{if IsStartTimeChanged}}<span style="color: red"><i> changed</i></span>{{end}}<br/> 
    <strong>Duration:</strong> {{Duration}} hours {{if IsDurationChanged}}<span style="color: red"><i> changed</i></span>{{end}}<br/> 
    <strong>Total Cost:</strong> AU${{Cost}} {{if IsTotalCostChanged}}<span style="color: red"><i> changed</i></span>{{end}}<br/> 
    <strong>Comments:</strong>{{Comments}}</p><br/> 

    <div style="margin-top: 30px">
        <a href="{{DashboardURL}}"><button class="btn btn-success">Accept</button></a>
        <a href="{{DashboardURL}}"><button class="btn btn-danger">Cancel Booking</button></a>
        <a href="{{BaseURL}}/booking-response/{{BookingUUID}}/{{BookingHistoryUUID}}"><button class="btn btn-info">Message</button></a>
    </div>

    <div style="margin-top: 30px">
       Or <a href="{{DashboardURL}}">click here</a> to access the booking request for more options.
    </div>

    <div style="margin-top: 30px">
        <strong>Regards,</strong><br/>
        <strong>UR Local</strong>
    </div>

    <hr>
    <p><a><img src="{{ImageURL}}"></a></p>
    
    
</body>
</html>