<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#cacaca;min-height:100%">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="container">
    <h2>Payment Message</h2>
    <hr>
    <p>Hi {{ReceiveUser.FirstName}},</p><br/>
    <p>{{SendUser.FirstName}} sent you a message about your payment request - here are the details:<br/><br/>    
    <strong>Customer:</strong> <a href="{{FindPersonURL}}">{{SendUser.FullName()}}</a><br/> 
    <strong>Your Profile:</strong>{{ProfileServiceName}}<br/> 
    <strong>Booking ID:</strong>{{BookingID}}<br/> 
    <strong>Date:</strong> {{Date}} {{if IsDateChanged}}<span style="color: red"> changed</span>{{end}}<br/>
    <strong>Start Time:</strong>{{StartTime}} {{if IsStartTimeChanged}}<span style="color: red"> changed</span>{{end}}<br/> 
    <strong>Duration:</strong> {{Duration}} hours {{if IsDurationChanged}}<span style="color: red"> changed</span>{{end}}<br/> 
    <strong>Total Cost:</strong> AU${{Cost}} {{if IsTotalCostChanged}}<span style="color: red"> changed</span>{{end}}<br/> 
    <strong>Comments:</strong>{{Comments}}</p><br/> 

    <div style="margin-top: 30px">
        <a href="{{BaseURL}}/send-payment-request/{{BookingUUID}}/{{BookingHistoryUUID}}"><button class="btn btn-success">Amend</button></a>
        <a href="{{DashboardURL}}"><button class="btn btn-info">Message</button></a>
    </div>

    <div style="margin-top: 30px">
        <strong>Regards,</strong><br/>
        <strong>UR Local</strong>
    </div>
    
    <hr>
    <p><img src="{{ImageURL}}"></p>

</body>
</html>