<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#cacaca;min-height:100%">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body>
    <p>Hi {{ReceiveUser.FirstName}},</p>
    <p>Someone thinks UR awesome!</p>
    <p>Here are the details:<br/>    
    <strong>Customer:</strong> <a href="#">{{SendUser.FullName()}}</a><br/> 
    <strong>Your Profile:</strong>{{ProfileServiceName}}<br/> 
    <strong>Booking ID:</strong>{{BookingID}}<br/> 
    <strong>Date:</strong> {{Date}}<br/> 
    <strong>Start Time:</strong>{{StartTime}}<br/> 
    <strong>Duration:</strong> {{Duration}} hours<br/> 
    <strong>Total Cost:</strong> AU${{Cost}}<br/> 
    <strong>Comments:</strong>{{Comments}}</p><br/> 

    <div style="margin-top: 30px">
        <a href="#">Accept</a>
        <a href="#">Reject</a>
        <a href="#">Message</a>
    </div>

    <div style="margin-top: 30px">
        Or <a href="#">click here</a> to access the booking request for more options. 
    </div>

    <div style="margin-top: 30px">
        <strong>Regards,</strong><br/>
        <strong>UR Local</strong>
    </div>
    
</body>
</html>