<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#cacaca;min-height:100%">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body>
    <p>Hi {{ReceiveUser.FirstName}},</p>
    <p>You have received a new message from {{SendUser.FullName()}}</p>
    <div><b>Message</b>: <i>{{Message.MessageText}}</i></div>
    <p><a href="{{DashboardURL}}">Go to your Dashboard</a></p>
    <hr>
    <p><a href="{{FindPersonURL}}"><img class="img-circle box-comment-img" src="{{ImageURL}}"></a></p>
</body>
</html>