<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#cacaca;min-height:100%">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body>
    <h1>Welcome to UR-local</h1>
    <p>Hi there! </p> 

<p>We think UR awesome. Do you too?</p> 

<p>You registered with {{Platform.Name}}, congratulations. {{Platform.Name}} works with Universal Reputations (UR) to help their users develop the best possible reputations so they can be more successful on their platform.</p> 

<p>There is nothing you need to do: you are all set to go and do great things on {{Platform.Name}}. </p> 

<p>This email is just to let you know that there is MUCH more you can do with your UR account. We are all about helping you manage and make the most of your on-line reputation - you know, the thing that sets you apart from others and makes you successful in your on-line activities, whether you are selling your services, buying stuff or whatever. </p> 

<p>So if you are curious about what else you can do to manage your reputation and make it work for you, please <a href="{{DashboardURL}}">go to UR to complete your sign-up</a> and find out for yourself!</p> 

<p>The team: we are UR.</p> 

</body>
</html>