<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background:#cacaca;min-height:100%">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body>
    <h1>Welcome to UR-local</h1>
    <p>Hi {{User.FirstName}},</p>
    <p>Thank you for signing up with UR-local. Marketing text about how we will now help you with your online profile</p>
    <p>Maybe some information on what you can do, click to login to dashboard, etc.</p>
    <p>Link to support for more questions? Links to top questions?</p>
    <p>Maybe see SquareUp welcome email, as it is pretty good.</p>
    <p><a href="{{DashboardURL}}">Go to your Dashboard</a></p>
</body>
</html>