<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Blog</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,700italic">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Head-->
      <header class="page-head slider-menu-position">
        <!-- - RD Navbar-->
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" class="rd-navbar container rd-navbar-floated rd-navbar-dark rd-navbar-dark-transparent" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel -->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <!-- RD Navbar Top Panel Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-right-buttons" class="rd-navbar-right-buttons-toggle"><span></span></button>
                <!--Navbar Brand-->
                <div class="rd-navbar-brand"><a href="index.html"><img width='218' height='35' src='images/logo.png' alt=''/></a></div>
              </div>
              <div class="rd-navbar-menu-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-mobile-scroll">
                    <!--Navbar Brand Mobile-->
                    <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='218' height='35' src='images/logo.png' alt=''/></a></div>
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li><a href="index.html"><span>Home</span></a>
                      </li>
                      <li><a href="find-job.html"><span>Find a Job</span></a>
                      </li>
                      <li><a href="post-job.html"><span>Post a Job</span></a>
                      </li>
                      <li><a href="#"><span>Pages</span></a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="about-us.html"><span class="text-middle">About Us</span></a>
                          </li>
                          <li><a href="your-career-starts-here.html"><span class="text-middle">Your Career Starts Here</span></a>
                          </li>
                          <li><a href="resume-page.html"><span class="text-middle">Resume Page</span></a>
                          </li>
                          <li><a href="project-managers.html"><span class="text-middle">Project Managers</span></a>
                          </li>
                          <li><a href="faq.html"><span class="text-middle">FAQ</span></a>
                          </li>
                          <li><a href="contact-us.html"><span class="text-middle">Contact Us</span></a>
                          </li>
                        </ul>
                      </li>
                      <li class="active"><a href="blog.html"><span>Blog</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--RD Navbar Search-->
                <div class="rd-navbar-right-buttons group reveal-inline-block"><a href="register-login.html#undefined1" style="max-height: 40px; line-height: 22px;" target="_blank" class="btn btn-primary"><span class="big">Login</span></a>
                  <div class="text-middle reveal-lg-inline-block">
                    <p class="big text-muted text-bold">or</p>
                  </div><a href="register-login.html#undefined2" style="max-height: 40px; line-height: 22px;" target="_blank" class="btn btn-primary text-middle"><span class="big">Register</span></a>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="context-dark">
          <!-- Modern Breadcrumbs-->
          <section class="breadcrumb-modern rd-parallax bg-gray-darkest">
            <div data-speed="0.2" data-type="media" data-url="images/background-02-1920x870.jpg" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" class="rd-parallax-layer">
              <div class="bg-overlay-gray-darkest">
                <div class="shell section-top-98 section-bottom-34 section-md-bottom-66 section-md-98 section-lg-top-155 section-lg-bottom-66">
                  <div class="text-extra-big text-bold veil reveal-md-block">Blog</div>
                  <ul class="list-inline list-inline-dashed p offset-top-0 offset-lg-top-20">
                    <li><a href="index.html">Home</a></li>
                    <li>Blog
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </header>
      <!-- Page Contents-->
      <main class="page-content">
        <section class="section-98 section-sm-124">
          <div class="shell-wide">
            <div class="range range-xs-center">
              <div class="cell-lg-8">
                <div class="range range-xs-center">
                  <div class="cell-sm-9 cell-md-6">
                    <!-- Post Modern-->
                    <article class="post post-modern">
                      <!-- Post media-->
                      <header class="post-media">
                        <div class="embed-responsive embed-responsive-16by9">
                          <iframe src="//www.youtube.com/embed/-AhmuMqZB0s?wmode=transparent" class="embed-responsive-item"></iframe>
                        </div>
                      </header>
                      <!-- Post content-->
                      <section class="post-content text-left">
                        <div class="post-meta small pull-sm-right"><span class="text-middle icon-xxs mdi mdi-clock text-primary"></span>
                          <time datetime="2016-01-01" class="text-italic text-middle text-dark">2 days ago</time>
                        </div>
                        <ul class="list-inline offset-top-14 offset-sm-top-0">
                          <li class="text-middle">
                            <div class="post-tags group-xs"><a href="#" class="label-custom label-lg-custom label-rounded-custom label-primary">Business</a>
                            </div>
                          </li>
                          <li class="text-middle">
                            <div class="icon icon-xxs text-dark mdi mdi-video"></div>
                          </li>
                        </ul>
                        <!-- Post Title-->
                        <div class="post-title">
                          <h6 class="offset-top-24"><a href="#">Intense tutorial: Writing a proper resume and autobiography for young specialists</a></h6>
                        </div>
                        <!-- Post Body-->
                        <div class="post-body offset-top-20">
                          <p>Nowadays many companies are looking for young specialists that have some professional potential. Young graduates can easily attract employer’s attention by writing a proper resume.</p>
                        </div>
                      </section>
                    </article>
                    <div class="offset-top-30">
                      <!-- Post Modern-->
                      <article class="post post-modern">
                        <!-- Post media-->
                        <header class="post-media"><img width="570" height="321" src="images/home-01-570x321.jpg" alt="" class="img-responsive img-cover"/>
                        </header>
                        <!-- Post content-->
                        <section class="post-content text-left">
                          <div class="post-meta small pull-sm-right"><span class="text-middle icon-xxs mdi mdi-clock text-primary"></span>
                            <time datetime="2016-01-01" class="text-italic text-middle text-dark">7 days ago</time>
                          </div>
                          <ul class="list-inline offset-top-14 offset-sm-top-0">
                            <li class="text-middle">
                              <div class="post-tags group-xs"><a href="#" class="label-custom label-lg-custom label-rounded-custom label-primary">Lifestyle</a>
                              </div>
                            </li>
                            <li class="text-middle">
                              <div class="icon icon-xxs text-dark mdi mdi-instagram"></div>
                            </li>
                          </ul>
                          <!-- Post Title-->
                          <div class="post-title">
                            <h6 class="offset-top-24"><a href="#">How to impress your future employer</a></h6>
                          </div>
                          <!-- Post Body-->
                          <div class="post-body offset-top-20">
                          </div>
                        </section>
                      </article>
                    </div>
                  </div>
                  <div class="cell-sm-9 cell-md-6">
                    <!-- Post Modern-->
                    <article class="post post-modern">
                      <!-- Post media-->
                      <!-- Post content-->
                      <section class="post-content text-left">
                        <div class="post-meta small pull-sm-right"><span class="text-middle icon-xxs mdi mdi-clock text-primary"></span>
                          <time datetime="2016-01-01" class="text-italic text-middle text-dark">3 days ago</time>
                        </div>
                        <ul class="list-inline offset-top-14 offset-sm-top-0">
                          <li class="text-middle">
                            <div class="post-tags group-xs"><a href="#" class="label-custom label-lg-custom label-rounded-custom label-primary">News</a>
                            </div>
                          </li>
                          <li class="text-middle">
                            <div class="icon icon-xxs text-dark mdi mdi-pen"></div>
                          </li>
                        </ul>
                        <!-- Post Title-->
                        <div class="post-title">
                          <h6 class="offset-top-24"><a href="#">Top 50 international companies to consider your potential employer.</a></h6>
                        </div>
                        <!-- Post Body-->
                        <div class="post-body offset-top-20">
                          <p>There are thousands of possibilities that can help you find the job of your dream. But how many of them will really lead you to the success of working at the well-known international company? Let’s find it out.</p>
                        </div>
                      </section>
                    </article>
                    <div class="offset-top-30">
                      <!-- Post Modern-->
                      <article class="post post-modern">
                        <!-- Post media-->
                        <header class="post-media">
                          <div class="post-inset">
                            <div class="soundcloud-player-classic"><iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
                          </div>
                        </header>
                        <!-- Post content-->
                        <section class="post-content text-left">
                          <div class="post-meta small pull-sm-right"><span class="text-middle icon-xxs mdi mdi-clock text-primary"></span>
                            <time datetime="2016-01-01" class="text-italic text-middle text-dark">5 days ago</time>
                          </div>
                          <ul class="list-inline offset-top-14 offset-sm-top-0">
                            <li class="text-middle">
                              <div class="post-tags group-xs"><a href="#" class="label-custom label-lg-custom label-rounded-custom label-primary">Music</a>
                              </div>
                            </li>
                            <li class="text-middle">
                              <div class="icon icon-xxs text-dark mdi mdi-soundcloud"></div>
                            </li>
                          </ul>
                          <!-- Post Title-->
                          <div class="post-title">
                            <h6 class="offset-top-24"><a href="#">Top 5 tracks to enhance your working process: from rock to electronic music.</a></h6>
                          </div>
                          <!-- Post Body-->
                          <div class="post-body offset-top-20">
                          </div>
                        </section>
                      </article>
                    </div>
                    <div class="offset-top-30">
                      <!-- Post Modern-->
                      <article class="post post-modern">
                        <!-- Post media-->
                        <header class="post-media"><img width="571" height="321" src="images/home-02-570x321.jpg" alt="" class="img-responsive img-cover"/>
                        </header>
                        <!-- Post content-->
                        <section class="post-content text-left">
                          <div class="post-meta small pull-sm-right"><span class="text-middle icon-xxs mdi mdi-clock text-primary"></span>
                            <time datetime="2016-01-01" class="text-italic text-middle text-dark">2 days ago</time>
                          </div>
                          <ul class="list-inline offset-top-14 offset-sm-top-0">
                            <li class="text-middle">
                              <div class="post-tags group-xs"><a href="#" class="label-custom label-lg-custom label-rounded-custom label-primary">Business</a>
                              </div>
                            </li>
                            <li class="text-middle">
                              <div class="icon icon-xxs text-dark mdi mdi-image"></div>
                            </li>
                          </ul>
                          <!-- Post Title-->
                          <div class="post-title">
                            <h6 class="offset-top-24"><a href="#">Teamwork as a vital element of your own success and career promotion.</a></h6>
                          </div>
                          <!-- Post Body-->
                          <div class="post-body offset-top-20">
                            <p>It is widely known that teamwork is very important to successful completion of any idea. Nevertheless, some projects based on the principle of cooperation often lack some simple but effective features.</p>
                          </div>
                        </section>
                      </article>
                    </div>
                  </div>
                  <div class="range range-xs-center offset-top-66">
                    <div class="cell-xs-7 cell-sm-5 cell-md-4 cell-lg-5 cell-xl-3">
                      <div class="inset-lg-left-20 inset-lg-right-20"><a href="#" class="btn btn-primary reveal-xs-block">view all blog posts</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell-sm-9 cell-lg-3 offset-top-66 offset-lg-top-0">
                <div class="inset-xl-left-100">
                  <!-- Sidebar-->
                  <aside class="text-left">
                    <!-- Search Form-->
                    <h6 class="text-uppercase text-spacing-60">Search</h6>
                    <div class="text-subline"></div>
                    <div class="offset-top-34">
                      <!-- RD Search Form-->
                      <form action="search-results.html" method="GET" class="form-search rd-search">
                        <div class="form-group">
                          <label for="blog-sidebar-2-form-search-widget" class="form-label form-search-label form-label-sm">Search</label>
                          <input id="blog-sidebar-2-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control input-sm"/>
                        </div>
                        <button type="submit" class="form-search-submit"><span class="mdi mdi-magnify"></span></button>
                      </form>
                    </div>
                    <!-- Twitter Feed-->
                    <h6 class="offset-top-41 text-uppercase text-spacing-60">Twitter Feed</h6>
                    <div class="text-subline"></div>
                    <div class="offset-top-34">
                      <div data-twitter-username="templatemonster" data-twitter-date-hours=" hours ago" data-twitter-date-minutes=" minutes ago" class="twitter">
                        <div data-twitter-type="tweet" class="twitter-sm">
                          <div data-date="text" class="twitter-date text-dark small"></div>
                          <div data-tweet="text" class="twitter-text"></div>
                          <div data-screen_name="text" class="twitter-name text-bold big"></div>
                        </div>
                        <div data-twitter-type="tweet" class="twitter-sm">
                          <div data-date="text" class="twitter-date text-dark small"></div>
                          <div data-tweet="text" class="twitter-text"></div>
                          <div data-screen_name="text" class="twitter-name text-bold big"></div>
                        </div>
                      </div>
                    </div>
                    <div class="range offset-top-41">
                      <div class="cell-xs-6 cell-md-12">
                        <!-- Category-->
                        <h6 class="text-uppercase text-spacing-60">Categories</h6>
                        <div class="text-subline"></div>
                        <ul class="list list-marked offset-top-30">
                          <li><a href="#">Job <span class="text-dark">(37)</span></a></li>
                          <li><a href="#">Employers <span class="text-dark">(211)</span></a></li>
                          <li><a href="#">Resume <span class="text-dark">(12)</span></a></li>
                          <li><a href="#">Finance <span class="text-dark">(7)</span></a></li>
                          <li><a href="#">Vacancy <span class="text-dark">(15)</span></a></li>
                        </ul>
                      </div>
                      <div class="cell-xs-6 cell-md-12 offset-top-41 offset-xs-top-0 offset-md-top-41">
                        <!-- Archive-->
                        <h6 class="text-uppercase text-spacing-60">Archive</h6>
                        <div class="text-subline"></div>
                        <ul class="list list-marked offset-top-30">
                          <li><a href="#">January 2016 <span class="text-dark">(17)</span></a></li>
                          <li><a href="#">December 2015 <span class="text-dark">(121)</span></a></li>
                          <li><a href="#">November 2015 <span class="text-dark">(19)</span></a></li>
                          <li><a href="#">October 2015 <span class="text-dark">(9)</span></a></li>
                          <li><a href="#">September 2015 <span class="text-dark">(25)</span></a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- Tags-->
                    <h6 class="offset-top-41 text-uppercase text-spacing-60">Tags</h6>
                    <div class="text-subline"></div>
                    <div class="offset-top-34">
                      <div class="group-xs"><a href="#" class="btn btn-xs btn-default">resume</a><a href="#" class="btn btn-xs btn-default">employers</a><a href="#" class="btn btn-xs btn-default">Job</a><a href="#" class="btn btn-xs btn-default">Vacancy</a><a href="#" class="btn btn-xs btn-default">Finance</a>
                      </div>
                    </div>
                  </aside>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <!-- Default footer-->
      <footer class="section-relative section-top-66 section-bottom-34 page-footer bg-gray-darkest">
        <div class="shell">
          <div class="range range-sm-center text-md-left">
            <div class="cell-sm-8 cell-md-12">
              <div class="range range-xs-center">
                <div class="cell-xs-10 cell-md-5 cell-md-push-2">
                  <h6 class="text-uppercase text-spacing-60 font-default text-white">Newsletter</h6>
                  <div class="inset-lg-right-80">
                    <p class="text-muted">Keep up with our always upcoming  news and updates. Enter your e-mail and subscribe to our newsletter.</p>
                  </div>
                  <div class="offset-top-30">
                    <div class="inset-lg-right-93">
                            <form data-form-output="form-subscribe-footer" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform">
                              <div class="form-group">
                                <div class="input-group input-group-sm"><span class="input-group-addon"><span class="input-group-icon mdi mdi-email"></span></span>
                                  <input placeholder="Type your E-Mail" type="email" name="email" data-constraints="@Required @Email" class="form-control"><span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary">Subscribe</button></span>
                                </div>
                              </div>
                              <div id="form-subscribe-footer" class="form-output"></div>
                            </form>
                    </div>
                  </div>
                </div>
                <div class="cell-xs-4 cell-md-2 offset-top-50 offset-md-top-0 cell-md-push-3 text-xs-left">
                  <h6 class="text-uppercase text-spacing-60 font-default text-white">Cities</h6>
                  <div class="reveal-block">
                    <div class="reveal-inline-block">
                      <ul class="list list-unstyled list-inline-primary">
                        <li class="text-primary"><a href="#">New York</a></li>
                        <li class="text-primary"><a href="#">San Diego</a></li>
                        <li class="text-primary"><a href="#">Los Angeles</a></li>
                        <li class="text-primary"><a href="#">Boston</a></li>
                        <li class="text-primary"><a href="#">Washington</a></li>
                        <li class="text-primary"><a href="#">Chicago</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="cell-xs-4 cell-md-2 offset-top-50 offset-md-top-0 cell-md-push-3 text-xs-left">
                  <h6 class="text-uppercase text-spacing-60 font-default text-white">Categories</h6>
                  <div class="reveal-block">
                    <div class="reveal-inline-block">
                      <ul class="list list-unstyled list-inline-primary">
                        <li class="text-primary"><a href="#">Healthcare</a></li>
                        <li class="text-primary"><a href="#">Automobile Jobs</a></li>
                        <li class="text-primary"><a href="#">Food Services</a></li>
                        <li class="text-primary"><a href="#">Construction</a></li>
                        <li class="text-primary"><a href="#">Logistics</a></li>
                        <li class="text-primary"><a href="#">Finance</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="cell-md-3 offset-top-50 offset-md-top-0 cell-md-push-1">
                  <!-- Footer brand-->
                  <div class="footer-brand"><a href="index.html"><img width='218' height='35' src='images/logo.png' alt=''/></a></div>
                  <ul class="list-inline list-inline-sm reveal-inline-block offset-top-34 post-meta text-dark list-inline-primary">
                    <li><a href="#"><span class="icon icon-xxs fa-facebook"></span></a></li>
                    <li><a href="#"><span class="icon icon-xxs fa-twitter"></span></a></li>
                    <li><a href="#"><span class="icon icon-xxs fa-google-plus"></span></a></li>
                    <li><a href="#"><span class="icon icon-xxs fa-youtube-play"></span></a></li>
                    <li><a href="#"><span class="icon icon-xxs fa-instagram"></span></a></li>
                  </ul>
                  <p class="text-dark offset-top-50">Intense JB &copy; <span id="copyright-year"></span> . <a href="#">Privacy Policy</a>
                    <!-- {%FOOTER_LINK}-->
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>