{{ extends "layout-home.html" }} 

{{ block Body() }}
<!-- Page Content-->
      <main style="background: #191919 url(images/background-31-1920x1280.jpg) 0/cover no-repeat" class="page-content">
        <div class="bg-overlay-white">
          <div class="one-page">
            <!-- 403-->
            <section>
              <div class="shell">
                <div class="range">
                  <div class="section-110 section-cover range range-xs-center range-xs-middle">
                    <div class="cell-lg-6">
                      <h3>Forbidden</h3>
                      <hr class="divider bg-mantis">
                      <div class="text-extra-big text-light">403</div>
                      <p class="offset-top-50">Sorry, you do not have permission to access that resource.</p>
                      <div class="group offset-top-30"><a href="/" class="btn btn-icon btn-icon-left btn-primary"><span class="icon mdi mdi-arrow-left"></span>back to home</a><a href="contact-us.html" class="btn btn-icon btn-icon-left btn-info"><span class="icon mdi mdi-email-outline"></span>Contact us</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </main>
{{ end }}