{{ extends "layout-home.html" }} 

{{ block Body() }}
<!-- Page Content-->
      <main style="background: #191919 url(images/background-16-1920x955.jpg) 0/cover no-repeat" class="page-content">
        <div class="one-page">
          
          <!-- 404-->
          <section class="context-dark">
            <div class="shell">
              <div class="range">
                <div class="section-110 section-cover range range-xs-center range-xs-middle">
                  <div class="cell-lg-6">
                    <h3>Sorry, but page was not found</h3>
                    <hr class="divider bg-mantis">
                    <div class="text-extra-big text-light">404</div>
                    <p class="offset-top-50">You may have mistyped the address or the page may have moved.</p>
                    <div class="group offset-top-30"><a href="/" class="btn btn-icon btn-icon-left btn-primary"><span class="icon mdi mdi-arrow-left"></span>back to home</a><a href="contact-us.html" class="btn btn-icon btn-icon-left btn-default"><span class="icon mdi mdi-email-outline"></span>Contact us</a></div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
{{ end }}