{{ extends "layout-home.html" }} 

{{ block CustomHeader() }}
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<div class="context-dark">
	<!-- Modern Breadcrumbs-->
	<section class="breadcrumb-modern rd-parallax bg-gray-darkest">
		<div data-speed="0.2" data-type="media" data-url="images/background-02-1920x870.jpg" class="rd-parallax-layer"></div>
		<div data-speed="0" data-type="html" class="rd-parallax-layer">
			<div class="bg-overlay-gray-darkest">
				<div class="shell section-top-98 section-bottom-34 section-md-bottom-66 section-md-98 section-lg-top-155 section-lg-bottom-66">
					<div class="text-extra-big text-bold veil reveal-md-block">Reset Password</div>
					<ul class="list-inline list-inline-dashed p offset-top-0 offset-lg-top-20">
						<li><a href="/">Home</a></li>
						<li>Login or Register
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>
{{ end }} 

{{block Body()}}
<main class="page-content">
    <section class="section-98 section-sm-110 section-bottom-66">
		<div class="container">
            <div class="range range-xs-center section-34">
				<div class="cell-xs-8 cell-sm-6 cell-md-4">
					<label id="reset-password-guide">Please enter the email address you used to register at ur-local.com:</label>
                    <form id="reset-password-send-mail-form" data-form-output="form-output-global" method="post"  class="reset-password-form text-left">
                        <div class="form-group offset-top-24">
                            <label for="form-reset-password-send-mail-email" class="form-label rd-input-label">Email</label>
                            <input id="form-reset-password-send-mail-email" type="email" name="email" data-constraints='@Required(label="Email") @Email(label="Email")' class="form-control bg-white">
                        </div>
                        <div id="recaptcha" class="g-recaptcha offset-top-24" data-sitekey={{.Data.AppConfig}} ></div>
                        <div class="offset-top-24">
                            <button type="submit" class="btn btn-primary btn-block">send mail</button>
                        </div>
                    </form>
				</div>
            </div>
		</div>
    </section>
</main>
{{ end }}